<!DOCTYPE html>
html(lang="pt")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hybear
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/styles.css")
    body
        main.h-screen.flex.flex-col.items-center.justify-center
            span.light.absolute.pin-b.w-full
            <svg class="main-wave absolute pin-b pin-l h-full w-full" fill="none" xmlns="http://www.w3.org/2000/svg" height="1920" width="1080" viewBox="0 0 600 750" preserveAspectRatio="xMidYMid slice"><path d="M -95.69,252.3 -87.65,890.4 698.1,892 C 698.1,892 599.1,687.7 518.9,610.6 348,446.2 131.4,466.5 -95.69,252.3 Z" pathdata:id="M -95.69,252.3 -87.65,890.4 698.1,892 C 698.1,892 569.8,587.1 448.9,482.7 299.7,353.9 131.4,466.5 -95.69,252.3 Z" fill="#fff"/></svg>
            span.feed.absolute.z-10.pin-l.pin-t.mt-2.ml-2.text-white.flex.flex-col.items-center.justify-center.cursor-pointer.p-4
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.2995 1.87295C14.0433 4.02697 12.1664 13.5224 12.1664 13.5224C12.1664 13.5224 13.8871 12.9969 14.0072 13.6797C14.1509 14.3435 14.2184 25.8222 14.215 26.4483C14.2069 27.1171 13.9985 27.2457 13.4726 27.5124C13.1741 27.6743 13.0422 28.092 13.3935 28.2383C13.7448 28.3846 16.0075 28.4366 16.6184 27.9847C17.305 27.433 15.7775 27.3746 15.5624 26.5735C15.3235 25.7913 15.2117 13.5301 15.6235 13.1213C16.0116 12.7315 17.3344 12.4867 18.5161 12.7451C18.5161 12.7451 15.6693 1.39566 15.3878 0.608875C15.1062 -0.17791 14.5558 -0.281077 14.2995 1.87295ZM14.8889 2.41242C14.932 2.61154 15.1758 12.2732 14.5496 12.2698C13.8144 12.2761 13.1989 12.7707 13.127 12.4389C13.0598 12.0643 13.642 9.29768 13.7972 8.66648C13.957 7.99258 14.8458 2.21329 14.8889 2.41242Z" fill="white"/>
                </svg>
                a(href="https://medium.com/@patrickgomes" target="blank" title="title").py-1 BLOG
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4765 1.73481C13.2727 1.82063 13.3255 2.12883 13.4587 2.29456C13.6346 2.46494 14.2564 2.70551 14.3139 2.97101C14.3714 3.23651 14.2707 11.4996 14.2715 14.0705C14.1983 15.3371 13.3325 16.3446 12.7029 16.9673C12.0307 17.5854 11.4016 18.4026 11.2317 18.7729C11.019 19.1386 11.2442 24.6072 11.3085 25.8024C11.3727 26.9976 11.8644 26.2518 12.4326 25.7952C12.9962 25.3813 14.8839 23.1242 15.283 23.4269C15.6821 23.7296 18.1959 25.8397 18.3954 25.9911C18.595 26.1424 18.5464 25.597 18.4977 25.0517C18.4682 24.53 18.2463 18.4353 18.1461 18.1651C18.0222 17.914 15.8365 16.1637 15.6738 15.4762C15.6831 15.3908 15.6877 15.3481 15.697 15.2627C15.6865 14.7647 15.6283 3.2006 15.7463 2.911C15.8452 2.59773 17.0349 2.18724 17.0962 2.02109C17.1575 1.85494 17.0527 1.62748 16.4976 1.56702C15.8761 1.52093 13.7276 1.61094 13.4765 1.73481ZM12.1181 25.1129C11.8048 25.0139 11.7207 23.4061 11.9287 23.0831C12.1367 22.7601 14.2722 21.0052 14.2722 21.0052C14.287 21.2661 14.3047 22.8883 14.2578 23.1208C14.2345 23.3343 12.4314 25.2118 12.1181 25.1129ZM14.2097 18.406C14.1344 18.7003 11.9271 20.1233 11.7614 20.2565C11.5956 20.3896 11.5931 19.2228 11.7538 18.9378C11.9144 18.6529 13.1164 17.3364 14.1674 16.4139C14.1911 16.3949 14.2849 18.1118 14.2097 18.406Z" fill="white"/>
                </svg>
            .brand.mx-auto.relative.z-10
                <svg class="absolute" width="84" height="95" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.694985 6.78051c.23166 1.30427.648645 2.56195 1.019305 3.86619.46332 1.9098 1.57529 3.447 2.87259 4.9376 1.06563 1.1645 1.99228 2.4222 3.01158 3.6333-.09266.0931-.139.1863-.23166.2795-.60232 0-1.1583-.0466-1.76062-.0466.78765 1.1179 1.48263 2.1427 2.17761 3.1675 1.06564-.7919 2.08494-1.5838 3.15061-2.3756 1.0656-.7919 2.0386-1.6769 3.1505-2.4222 2.0387-1.3975 4.1699-2.7017 6.2085-4.0991 1.0193-.6988.8804-1.2577-.2779-1.9099 0 .0466-.0464.1398-.0464.1864.0463.6987.2317 1.5371-.9266 1.6303-1.112.0932-1.1583-.6056-1.251-1.3974-.1853-1.5838-.7876-2.9812-2.0849-4.05256-1.0193-.83846-1.9923-1.77007-3.0579-2.74827 1.0656-.51239 1.8069.09316 2.5482.46581 2.1313 1.11794 3.1506 3.12091 4.4016 4.89102 1.5753-1.0714 3.1042-2.14275 4.7258-3.26069-.2316-.13974-.278-.23291-.3706-.27949-2.641-.69871-4.8186-2.14271-6.9962-3.6333-2.1312-1.444-4.3088-2.841425-6.9034-3.353814C7.87645-.160021 6.2085-.253182 5.0502 1.88953c-.32433.55897-.83398.93162-1.62162 1.07136C1.66796 3.24038.370661 5.15019.694985 6.78051zM12 8.2711c1.7143 1.58375 3.3359 3.1209 5.0039 4.7047-2.5946.9782-4.8186 2.1893-6.1159 4.9841-.2316.4658-.97294.9782-1.11193.885.27803-.9782 1.25093-3.0743 1.57533-4.2388-1.48267.7919-2.03865 2.1893-3.10429 3.4004-.09266-2.003-2.27027-1.2577-3.15058-2.562.78764.1864 1.2973.2795 2.08494.4658-1.0193-1.444-2.50193-2.4222-2.50193-4.1456.97297 1.444 1.94595 2.8414 3.6139 3.773.55599-.6521 1.06564-1.2577 1.62162-1.9098-1.20463-.885-2.40926-1.7235-3.6139-2.6085.04634-.0932.04634-.1864.09267-.3261 1.11197.1863 2.22394.3261 3.33591.5124-1.34363-1.30427-1.76062-2.84144-1.71429-4.65809 1.43629.9782 1.71429 2.98117 3.70655 3.4004.0927-.55897.1853-1.11794.278-1.67691zM5.09653 2.86773c1.62162-.74529 5.23557.83845 6.48647 3.07433-.5096-.2329-1.0656-.41923-1.4826-.74529-1.11198-.79187-2.27028-1.30426-3.7529-1.30426-.69499.04658-1.34363-.13975-1.25097-1.02478zm1.85328 2.04955c-1.06564.7453-2.4556 1.30427-3.19691 2.32904-.74131 1.02478-.83398 2.46878-1.25096 3.86618-.139-.2795-.18533-.326-.18533-.3726-.88031-4.28545.13899-4.47177 4.6332-5.82262z" fill="#fff"/><path d="M80.4324 59.7429c.6024-.1398 1.3437-.0466 3.5213.5589-.1854-.7453-.2317-1.2577-.417-1.6769-1.112-2.4688-2.1776-4.9375-3.3823-7.3597-.8339-1.677-1.8069-3.3073-2.9652-4.8444-.6486-.8385-.6486-1.6304-.6023-2.562.139-1.2111.3243-2.4222.3243-3.5867 0-3.1675-1.1583-6.0555-2.5019-8.9435-.1854-.3727-.3707-.8385-.3244-1.2577.0927-.885.278-1.8166.417-2.7017.1854-.9782.278-1.6303.4634-1.9098.0463-.4658.0926-.885.139-1.3508.1389-1.2111.1853-2.4222.5559-3.5868.5097-1.6303 1.9923-2.4687 3.1506-3.6333.0463-.0931.0927-.1863.0927-.2794-.556-.0466-.9267-.0466-1.2973-.0932-.6487-.0932-1.0193-.3726-.6023-1.0248 1.4826-2.5153 2.1312-5.1704 2.4092-8.01187.2317-2.79485-1.7606-5.8226-4.6795-6.2884-3.9382-.605553-7.7838-.465811-11.3977 1.30426-1.7606.88503-3.6139 1.72349-5.4208 2.51536-1.2973.55897-2.5946 1.16452-3.8919 1.63033-.7413.27948-1.668.97819-2.363-.23291.8803-.4658 1.7143-.93161 2.7336-1.53716-1.6216-1.07136-3.1506-2.1893-4.8185-1.81665-1.7606.41922-3.6139.88503-5.0039 2.18929-.1853.18633-.6486.23291-.9266.13975-1.39-.37265-2.7799-.88504-4.2162-1.11794-3.2433-.51239-6.4402.04658-9.5444 1.11794-1.946.69871-3.3823 2.09613-4.8186 3.49355.417.04658.7877 0 1.112-.09316 1.3436-.46581 2.6873-.97819 4.0309-1.35084 1.6216-.46581 3.3359-1.2111 4.9575-.27948 1.9923 1.16451 3.7993 2.6551 5.6525 4.00593-.0463.1398-.0926.2795-.139.4192-.2779-.0465-.6023-.0465-.8803-.1863-1.0656-.559-2.0386-1.3042-3.1042-1.77005-2.0386-.88504-4.1236-1.77007-6.4865-.69872-1.9923.88504-4.0309 1.53717-6.0695 2.32907-1.9459.7453-1.9459.7453-.7413 2.329.0463.0466.0463.1398.0926.3727-1.5289.9782-3.0579 2.1427-4.7722 2.9811-3.0115 1.4906-5.6988 3.3538-8.1544 5.45-1.25096 1.0713-2.27026 2.4222-3.4749 3.7264.55599.2795.97298.559 1.4363.6987.88031.2795 1.20463.6988.74131 1.5372-1.25097 2.0496-2.4556 4.1457-3.70656 6.1953-1.57529 2.3756-3.15058 4.7978-4.633209 7.22C.555985 42.3682.370656 43.1135 0 43.9986c1.80695-.4659 3.38224-.8851 4.9112-1.3043.04633.0932.13899.1863.18533.2329-1.85329 2.003-2.27027 4.5183-3.01159 6.894C1.34363 52.1968.555985 54.619.555985 57.3207c1.436295-.5124 2.687255-1.2111 4.216215-1.118-.18533.4658-.27799.8385-.41699 1.1645-1.38996 3.1675-1.80695 6.4282-1.43629 9.782.139 1.3508.18533 2.7017.50965 4.0059.46332 2.003 1.11197 3.9594 1.76062 5.9158.23166.6987.83398.7453 1.43629.4192 1.2973-.7918 2.54827-1.5837 3.75292-2.4688.6023-.4192.8803-.4658 1.2973.1864.4633.7453 1.0193 1.4906 1.5753 2.1893 1.5753 1.8166 3.2432 3.5867 4.7258 5.4499 1.0657 1.3509 1.8533 2.888 2.8726 4.4252 2.0386-2.2359 3.9846-4.3786 5.8842-6.5679.556-.6056.7876-.6056 1.3436 0 2.085 2.329 3.2433 5.1705 4.5406 7.8722.5559 1.2111 1.0193 2.5153 1.6679 3.6798 1.1583 2.0962 1.2046 2.1427 3.5213 1.2577 2.5945-1.0248 4.7258-2.6085 6.1158-4.9841 1.0193-1.7235 2.0849-3.4936 3.1042-5.2171.5097-.7918.9267-.885 1.529-.326 1.7143 1.7235 3.4749 3.4004 5.0502 5.217 1.1119 1.2577 1.9459 2.6551 3.0116 4.0991.2316-.2795.5559-.559.6949-.885.3707-.9316.695-1.9098 1.0657-2.8414.0926-.2795.3243-.5124.5096-.7919.9267.9782 1.668 1.8632 2.502 2.6551.8803.885 1.0193.8384 1.7142-.2329.139-.2329.3244-.4192.556-.6056.6487-.6055 1.4363-1.1179 1.8997-1.8166 1.4362-2.2359 2.7799-4.5184 4.0772-6.8474.7876-1.444 1.3899-2.9812 2.1776-4.4252.556-1.0713 1.0656-1.0713 1.8533-.0465.278.3726.6023.7452 1.0193 1.3042.6023-1.0714 1.2046-1.8632 1.5289-2.7948.556-1.6304 1.0193-3.3073 1.4363-4.9842.139-.6521.4633-.7453 1.0193-.5589.834.326 1.6216.6987 2.5946 1.0713.1853-.8384.3707-1.6769.4633-2.4688.3244-2.6085.0464-3.9128-.8339-6.3815-.2317-.5124-.4634-1.2577-.4634-1.9098zM77.9768 8.78349c.2317.41923-1.2973 1.86321-.6486 3.30721.3243.7919-.3707 1.9564-.834 2.6551-1.5753 2.3291-2.4092 2.4688-2.7799 3.9128-.0463.1863-.278.7919-.417.9316-.7413-.6521-.695-1.4906-.3243-1.8632 1.4826-1.6303 2.4092-3.5401 3.0116-5.5897.278-1.1179.7876-2.0495 1.9922-3.35381zM70.749 3.05406c.7877-.18633 1.4827-.09316 2.1776.32606 1.39.83846 2.8263 1.63033 4.3089 2.46878-.3706 1.02478-1.1119.09317-1.8069.37265.3243.27948.6023.55897.8803.74529.6023.41923.7876.74529.0927 1.30426-1.39 1.07136-2.78 2.1893-4.2163 3.3538.6487.3727 1.529.8851 2.4093 1.3974-.139.4659-1.8996.3261-4.0772.1864.834 1.2111 1.5753 2.2358 2.3629 3.4004-1.1583-.0932-4.0772-2.7017-4.6332-3.2607-.834-.7453-1.4826-1.6769-2.2703-2.6551 3.6139.4192 6.4865-1.16452 9.4054-3.16749-.6949-.74529-1.6216-.83845-2.5482-.93161-1.668-.09317-3.3359-.13975-5.0039-.18633-.3243 0-.6486-.09316-.973-.18632 2.4093-.88503 4.8186-1.67691 7.4132-.60555-1.529-.83845-3.0116-1.58375-4.8649-1.30426-1.39.18632-2.8262.2329-4.2625-.55897.0463.09316 2.6872.04658 5.6061-.69871zM40.4479 17.5873c.8803 1.6303.6486 3.4469-.6023 3.9593.1853-1.3042.417-2.5619.6023-3.9593zm3.5675 12.8563c-.6486.1863-2.2239.9316-3.1042 1.2111.7876-1.5838 2.5019-1.8167 3.1042-1.2111zm-8.4324.326c.9267-.559 2.1776-.4192 2.7799.5124.1854.3261-.1853.7919-.5559.6521-.417-.1397-.6487-.326-.973-.6055-.3243-.2795-.695-.3727-1.1583-.3261-.1854 0-.1853-.1863-.0927-.2329zm-.2316 13.8811c1.8069-1.2111 7.6911-1.3509 10.6563.0931 1.3437.6522 1.807 3.121.6487 4.891-1.6216 2.5154-3.4749 3.2141-4.2626 3.5867-.7413.3261-.695 1.0248-.7876 1.4441-.0927.7452-.2317 1.0247-.4633 1.1179-.278.0932-.3707-.2329-.5097-.6987-.139-.4658-.3243-1.0714-.9266-1.5372-.6024-.4658-2.6873-.9316-4.2626-2.8414-1.5753-1.9098-2.1313-4.7047-.0926-6.0555zm-4.0309-19.5639c.7413-.9317 2.2239-.7919 2.9189.2794.7876 1.1646.834 2.5154.556 3.7731-.278 1.2111-.7413 1.9098-1.2973 3.0743-.139.3727-.6487 1.1645-1.112 1.3509 0 0 1.2973-4.9842 1.2973-5.0308.139-.6521.0463-1.3974-.1853-2.0495-.2317-.6521-.695-1.2577-1.668-.6987-.139.0931-.417-.0466-.6486-.0932.0463-.2329 0-.4658.139-.6055zm-.278 5.8691c.139.2795 0 .6522 0 1.0248-.139 0-1.0657-.8384-1.4363-1.3042-.556.4192-1.251 1.3508-2.502.885-.8339-.6056-.8339-1.5838-.4169-2.5154-.7414-.4192-1.112.6987-1.807 1.3509.139-1.8167 1.807-2.7949 3.2896-2.1427 1.3436.5589 2.2703 1.4905 2.8726 2.7016zm-1.4827-6.4281c.4634.6055.3244 1.2111-.2779 1.8166-1.112-1.1179-1.7143.0466-2.5483.4193-.3707.1863-1.0656.4658-1.1583.326-.4633-.5124-.0927-.9782.3706-1.3042.6487-.4658 1.2973-.8385 1.946-1.2577.556-.3261 1.1583-.6056 1.6679 0zM11.305 31.8876c.6487-2.9812 1.9923-5.4966 4.5869-7.3132.4633-.3261.8803-.7453 1.2973-1.118.5096-.4192.695-.8384.0463-1.2576-.4633-.3261-.417-.559.0927-.8851 1.5753-.885 3.1042-1.8632 4.6332-2.7948 1.8069-1.0714 4.0772-1.2577 4.1235-1.1645-1.7606 1.3042-4.4478 3.0743-6.3938 4.5183.6023.4658 1.251.9316 2.085 1.5837-.7414.4658-1.39 1.0248-2.224 1.3975-5.5598 2.7016-8.2471 7.0337-8.2471 7.0337zm15.4749 30.3706c-1.1583-.885-2.1776-1.9564-3.1506-2.9812-.5096-.5123-.7876-.4658-1.2509 0-1.0657.9782-1.251.8851-1.807-.4192-.3243-.7453-.695-1.5371-1.2509-2.1427-.834-.9782-2.1313-.7919-3.2896-.8384-.834-.0466-1.6216-.0466-2.2239-.0466.1853-2.0962.3706-4.0991.4633-6.1021.0463-.6987-.278-1.444-.2317-2.1427.0927-1.7701.278-3.4936.417-5.2636 0-.0466.139-.0932.3243-.2795-.0463.7918-.139 1.444-.0463 2.0495.1853 1.3043.5096 2.6085.7413 3.9594.2317 1.5837.4633 3.1675.556 4.7512.0463.9316.4633 1.3509 1.4363 1.444h.1853c1.8996-.0466 3.0579.7919 3.4749 2.562.0927.4658.1853 1.0247.4633 1.6303.417-.3261 1.5753-1.5372 1.7607-1.8167.2316-.1397.5096.3727.9729.8851.973 1.1179 1.8996 2.329 2.9189 3.447.834.9316 1.7607 1.77 2.8263 2.888-1.2046-.5124-2.3629-.8851-3.2896-1.5838zm15.7529 9.5491c-.0463-.3261-.0926-.6056-.0926-.8385-.4634.1863-.7414.6521-1.0657 1.2111-.278.4658-.7876 1.2577-.973 1.2111-.7413-.1863-1.4362-.6055-2.0386-1.0713-.5559-.4193-.9266-1.0248-1.4826-1.5838-.2316.2795-.3243.4192-.5096.6521-2.085-2.0495-3.5213-4.4251-4.9576-6.8473.7413.0931 1.6217.6521 1.8996 1.1645 1.0657 1.9564 2.224 3.6333 3.058 3.9128-.139-.6522-.3244-1.3509-.3707-2.003 0-.4192.0927-1.9098.2317-1.7701.3706.3727.7876 1.5838.9729 2.0496.4634 1.0248.973 1.6303 1.5753 2.6085.7413 1.2111 1.2047 1.2111 2.0386.1398.695-.9317 1.2047-1.9564 1.807-2.9346.0463-.0932 1.1583-1.7701 1.2509-1.7701-.1853.7453-.8803 2.5619-1.1119 3.5401.5096-.1863.7876-.2795 1.0193-.4192 1.8996-1.0714 3.3359-2.5154 4.2625-4.4252.556-1.2111 1.2047-2.3756 1.8533-3.6333 1.529 2.0496-2.5946 8.1517-7.3668 10.8068zm8.2935-16.7225c-.834.4192-1.4363.7919-1.4827 1.9098-.0463.9782-.7413 1.8632-1.8996 2.4222-1.3899.6055-2.7336.9782-4.3089.9782-1.6216 0-3.2432.2329-4.8648.3726-1.39.0932-2.5946-.4192-3.7066-1.1179-1.1583-.6987-1.2973-1.9098-1.4363-3.0278-.0926-.6521-.3706-.9316-.9266-1.2111-.834-.4192-1.6216-.9316-2.363-1.444-.8803-.6055-1.1583-1.3974-.8339-2.4222.4633-1.4905.9729-2.9345 1.2046-4.4717.5096-2.9346.8803-5.8692 1.39-8.8038.139-.885.9266-4.2854 1.8532-4.4717-.0926.4658-.1853.9316-.2316 1.3974-.4633 3.5401-1.112 8.3845-1.5753 11.9247-.139.885-.3707 1.7235-.556 2.6085-.5096 2.329.0463 3.2141 2.2239 4.5183 4.4479 2.7483 9.0811 2.3756 13.8533 1.118 1.5753-.4193 3.1969-1.0248 3.7529-2.562.3243-.9316.417-2.1427 0-2.9811-2.5946-5.3568-4.3552-10.8999-5.2355-16.7691-.1853-1.444-.6486-2.888-.8803-4.332-.0927-.7453 0-1.5372.0927-2.3291 0-.2329.0926-.5589.3243-.6987.4633-.3726.9266 2.562 1.0193 3.1209.417 2.888.695 5.776 1.2509 8.6175.695 3.2606 1.9923 6.3815 3.8919 9.223.6024.885 1.0657 1.9098 1.529 2.888.8803 2.0495 0 4.4717-2.0849 5.5431zm4.4478-28.7869c-1.6216.6055-2.0386.4658-3.0115-.5124-1.0657-1.0714-2.5483-1.2577-4.0309-1.3974-.3244-.0466-.7414.4658-1.112.7452-.2317.1864-.417.4658-.7413.8851-.5097-1.2577 0-2.0496.6486-2.7483.6487-.6987 1.6217-.7919 2.4093-.3726 1.9459 1.0713 3.7992 2.2358 5.8378 3.4004zm-3.7992-3.447c1.6216-.7453 2.7799-.2795 3.8919.4192.6486.4658 1.251 1.0248 1.8996 1.444.6487.3727.5097.7453.0463 1.2111-.8803-.7919-1.6216-1.6769-2.5482-2.1893-.8803-.4658-1.9923-.5589-3.2896-.885zm-.1853 7.6858c-.8803.4658-1.9923.0932-2.5019-.4658 0-.0466-.1854.5124-.3707.6521-.278.2329-.5097.0932-.556-.3726-.0927-.7919 1.3436-2.2825 2.5019-2.7017.9267-.3261 1.7143 0 2.502 1.0714-.278.0465-.556-.1864-.7413.0931.0926.0932 0 1.3043-.834 1.7235zm5.5135 33.7245c-.7877.6521-1.807 1.0713-2.7799 1.444-.6023.2329-.9267-.1397-.8803-.6987.278-2.4688.6023-4.6581 1.0656-4.7047.1853 1.118.417 2.1893.3707 3.5867 1.4362-.6055 2.6872-2.0961 3.7065-3.1674.4633-.5124.7877-.8851 1.2046-1.3975.1854-.1863.5097-.5589.8804-.5589-.9267 1.9564-1.7143 4.0525-3.5676 5.4965zm7.0888-10.7136c-1.1583 1.3509-3.0116 2.4222-3.6139 2.0961 2.5946-3.4935 5.6988-6.6144 5.7915-11.2259 1.4363 1.3508.0927 6.5679-2.1776 9.1298zm-2.1313-33.6779c-.417-.2795-.6023-.9782-.6486-1.5371-.0464-.6056-.1854-.7919-.834-.8385-.4633-.0466-3.3359-.4192-3.2432-.8385 1.7606.0466 3.5675.0932 5.4671.1398-.417 1.2577-.3706 2.2359.6023 2.8414.4634.3261 1.1584.5124 1.7143.5124 1.4363-.0466 2.8726-.2795 4.5406-.4658-3.2433-3.0278-7.6911-4.3786-10.3321-7.8722.5097-.2794.9267-.5123 1.529-.8384-1.946-.6521-3.6602-1.30427-5.4209-1.86324-1.8069-.55897-3.6602-.9782-5.5135-1.53717-.7876-.2329-1.4826-.13974-2.0386.37265-.973.83845-1.8996 1.72349-2.8262 2.60856-.8804.7918-1.7607 1.4905-2.6873 2.2824-.0927-.0466-.2317-.0931-.3243-.1863.0463-.4192-.0464-.885.1853-1.2111.417-.6521.9266-1.3043 1.5753-1.81665 1.3436-1.07136 2.7799-2.09614 4.2625-3.02775.278-.18633.8804-.18633 1.251-.04658 3.6139 1.07135 7.1815 2.28245 10.7954 3.30723 2.2239.65215 2.3629.74525 2.2239-1.49058-.0927-1.63033 1.0193-2.88801 2.5019-2.88801-.2779.97819-.5559 2.00297-.7876 2.98117-.0927.4658-.2317.97819-.1853 1.444.0926.83847.1853 1.53717-.834 2.04957-.556.2795-.2317.6987.139.9316.8803.6521 1.7606 1.2577 2.6409 1.9098 1.529 1.0714 3.1043 2.1427 4.5406 3.2607 1.1119.885 2.1312 1.8632 3.1042 2.888.6023-.2795 1.112-.4193.9266.7453-.0926.5124.556 2.0961.556 2.0961-.2316-.2329-1.1119-1.1645-1.2046-1.444-.1853-.5124-.4633-.7453-1.0656-.6987-1.807.0466-3.6139.0466-5.4209.0466-1.8533-.0466-3.6602-.6987-5.1892-1.8167zM78.1622 65.612c-1.807.6987-3.3823 1.6304-4.4016 3.2141.4633-1.1645.556-2.4688 2.085-3.0277 1.4363-.5124 1.6216-1.0248 1.2046-2.4688-.834-2.9346-1.4826-5.9158-3.1969-8.5243-.0927-.1397-.139-.3726-.1853-.6056.6486 0 1.2046-.0465 2.1776-.0465-.6487-1.1646-1.0193-2.2359-1.7607-3.0278-1.9922-2.1893-3.7065-4.5649-4.8648-7.2666-.3243-.7453-.4633-1.6303-.7413-2.5619 1.3436.2329 2.4556.4192 3.6139.6521.7876.1863 1.1583-.0932 1.1119-.8385-.0926-.885-.0463-1.8632-.3706-2.7016-.7413-2.0496-1.6216-4.0526-3.2433-5.7295-1.0193-1.0247-1.8069-3.6333-1.1119-3.9593.3706.5123.7876 1.0713 1.1583 1.5837 1.2046 1.7235 2.4092 3.447 3.6602 5.1239 1.2973 1.7701 1.668 3.773 1.7143 5.8692 0 .326 0 .6521.0463.9782.139 1.0713-.0926 1.3974-1.2046 1.444-.7877.0466-1.5753-.0932-2.6409-.1864 3.0115 4.0992 6.3475 7.9188 6.9498 13.0427-.6487-.1864-1.0657-.3261-1.4827-.4658.0464.5123.0927.9782.1854 1.4905.6023 2.4222 1.2509 4.7979 1.8069 7.2201-.0463.2794-.3243.6987-.5096.7918z" fill="#fff"/><path d="M46.9807 56.3424c-3.4286.9317-6.9035 1.2577-10.4247.4659-.695-.1398-1.39-.3261-2.1776-.5124-.3707 1.9564.8803 3.4935 3.0116 3.4469 2.6872-.0465 5.3745-.2794 8.0154-.6521.9266-.1397 1.7606-.885 2.5019-1.444.3244-.2329.278-.885.3707-1.3043-.417 0-.8803-.0931-1.2973 0z" fill="#fff"/><path d="M37.2046 51.0788c1.8996 1.2111 2.5483 1.3975 2.8726 1.2577.3243-.1397-.0927-1.3042.556-1.5371.556-.233.6023.8384.7876 1.3974.1854.5589 2.224-.5124 3.5213-1.5838 1.2509-1.0713 1.9923-2.8414 1.2509-4.1922-.6949-1.3509-3.1505-1.8633-5.0038-1.6304-1.8996.2329-4.5406-.1397-5.5599 1.118-1.0656 1.2111-.3243 3.9593 1.5753 5.1704zm6.2085-4.5649c1.2047.1398 2.224.9316 2.3166 1.6769.139.6987-.3706.1863-1.0193.0932-.6486-.0466-1.7606.1863-1.8996.7453-.139.6055.3707 1.5371.0463 1.444-.6486-.2329-1.6216-.885-1.6679-2.0961-.0463-1.2112 1.0193-2.003 2.2239-1.8633zm-7.1351 2.5154c-.3707-.0932-.139-.9782.278-1.3509.7413-.7453 2.2239-.9782 3.1969-.5124 1.0193.4659 1.251 2.4222-.139 3.7265-.6487.6056.0463-.6055-.0463-.9316-.1854-.7453-.7414-1.1645-1.9923-1.2577-.5097-.0466-.973.4192-1.2973.3261z" fill="#fff"/></svg>
                <svg class="absolute" width="210" height="146" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M208.954 76.6108c-.047-.2321-.232-.4177-.464-.557l-.51-.1856h-.186c-.371 0-.742.1856-.881.4177 0 .0464-2.737 3.2491-7.189 7.8905-.743.7891-1.531 1.5781-2.366 2.46-2.458 3.1562-6.169 5.0128-8.534 8.3083-.511.4641-1.067.9747-1.577 1.4853-1.624 1.4852-3.294 2.9705-5.056 4.409l3.432-6.312c.464-.7891.928-1.5782 1.299-2.2744 1.948-4.3166 4.267-7.5656 6.262-11.8358.371-.789.695-1.5317 1.02-2.2743 1.02-2.2279 1.902-4.4094 2.737-6.4981.463-1.1603.881-2.2279 1.252-3.2954 1.391-4.131 2.783-7.8441 3.803-11.8822.232-.9283.371-1.5317.371-1.7638v-.1856c.093-1.2533.093-2.5065-.139-4.2238-.232-7.0551-5.612-26.8278-9.137-34.6255-.603-1.2996-1.113-2.2743-1.577-2.7849-3.525-2.46-7.236-5.24486-10.947-7.37994-.51-.27849-1.066-.60339-1.577-.88188-5.241-2.87772-10.065-5.105637-9.879-4.455829.139.510564 2.783 2.506399 6.03 5.059219.835.64981 1.67 1.29962 2.551 1.94942.649.37132 1.252.78906 1.809 1.16038 3.339 2.55283 6.122 5.33773 8.859 8.30823.324.4642.649 1.0676.974 1.8566 3.061 7.0551 6.772 26.1316 6.772 26.1316l.324 2.5528v1.7174c0 .6498 0 1.1603.047 1.7637v.0928l-.047 1.0212c0 .4641-.046 1.0211-.139 1.6245-.093.6034-.185 1.2532-.324 1.9958-.14 3.7596-1.995 7.4728-3.108 11.0004-.371 1.0675-.789 2.1814-1.252 3.3418-.464 1.1604-.928 2.3208-1.438 3.4811l-1.299 3.017-1.16-3.0634c-1.437-3.7132-3.432-6.9158-4.267-8.1226 0-.0464-.046-.0464-.046-.0928-.232-.3249-.65-.557-1.021-.6034l-.417.0464-.093.0464c-.278.0929-.371.3249-.417.4642-.093.2321-.093.5105.046.789 2.737 6.5909 3.386 11.1396 2.273 16.2916-.139.6963-.325 1.3925-.51 2.1815-.186.7427-.418 1.5317-.696 2.3208-.232.789-.51 1.5781-.835 2.4136-.278.8354-.603 1.6709-.974 2.5064l-.046.0928-.047.0928c-1.298 2.1815-2.412 4.0845-3.339 5.7555l-.232.4177c-.835 1.4389-2.505 3.435-4.638 5.709-.696.743-1.485 1.578-2.273 2.506-3.061 3.342-6.308 6.591-10.297 8.958-.835.697-1.624 1.3-2.412 1.904-2.319 1.763-4.221 3.063-5.38 3.573l-4.036 1.764c6.726-11.836 2.969-12.95 2.969-12.95-6.355 9.144-13.219 14.435-19.017 17.545-1.206.65-2.273 1.161-3.061 1.486-6.401 2.784-10.947 2.831-10.947 2.831l-.51-.511c-1.438-1.392-3.293-2.181-5.334-2.228-.51.14-1.391.279-2.968.557-1.114.186-2.041.372-2.83.465-3.246 1.253-6.4932-.14-9.2762-1.068-.9276-.464-1.8553 0-2.8757.65-.8813.371-1.7162.928-2.4583 1.624l-.5102.511h-.0464c-.4174 0-4.4527-.186-10.1578-2.507-2.18-.742-4.2208-1.81-6.0761-3.063-5.2876-3.203-11.2246-8.262-16.7441-16.245 0 0-.4174.139-.7421.743-1.1596 4.455 1.6234 8.169 3.7106 12.207 0 0-.0464-.047-.0928-.093l.0464.093s-1.0204-.465-1.9945-.882c-1.0204-.464-2.0408-.882-2.0408-.882-4.0353-1.346-6.8182-5.059-10.2969-7.519-.7422-.65-1.5307-1.3-2.2728-1.996-5.334-4.688-10.6216-10.026-12.3841-13.1356l-.2783-.5105c-.9277-1.6246-1.9945-3.4812-3.154-5.3842l-.0464-.0928-.0464-.0928c-1.4379-3.4347-2.5047-6.6838-3.154-9.6543-1.1132-5.1521-.4639-9.7471 2.2727-16.2916.0928-.2785.1392-.557.0464-.7891-.0464-.1392-.1391-.3249-.3711-.4177l-.371-.1393h-.0928c-.4174 0-.8349.2321-1.1132.6034-.4174.6498-2.6902 4.0381-4.3135 8.169l-1.1596 3.0634-1.2987-3.0169c-3.1077-7.1944-5.0093-13.5532-5.7979-17.8698-.1391-.6962-.2319-1.3924-.3246-1.9958.3246-4.92.3246-10.0256 1.2523-14.992.1391-.6498.2783-1.346.4638-2.0887.1392-.6962.3247-1.4388.5102-2.2279.1856-.7426.3711-1.5317.5566-2.3207 1.7626-4.2238 2.2264-8.8653 3.8962-13.1818.371-.8355.6957-1.5317 1.0668-1.9959.6493-.8819 1.7625-2.0422 3.2004-3.2954.6957-.6499 1.4842-1.2997 2.3191-1.9959 3.3859-3.71317 7.5604-6.49806 11.9203-9.4222 1.0668-.88188 1.7626-1.485274 1.8553-1.763764.0928-.278489-.6493-.0464144-1.8553.464149C34.2304 2.02215 30.5198 4.34289 26.9947 6.29231c-.5566.32491-1.0668.64981-1.577.97471-3.5715 2.13509-6.7255 4.22378-7.7923 5.52338-.4174.4641-.8813 1.346-1.3915 2.5064-.2783.557-.5566 1.2068-.8349 1.903-1.0667 4.7807-2.9221 8.9581-4.4527 13.7388-.3247 1.0675-.603 2.1351-.8812 3.2026-.27835 1.0212-.51026 2.0887-.78855 3.1098-.2783 1.114-.51021 2.2744-.74213 3.3883-.69574 3.2026-1.62339 6.4517-1.62339 10.1184 0 .5106 0 .9748.04639 1.4853-.04639.8355 0 1.5781.04638 2.3208v.1856c.04638 1.6245 5.3804 21.4901 16.6514 39.824l2.0872 5.0592C11.9204 87.8896 2.55107 76.5644 2.36554 76.3323l.04638.0464c-.18553-.2784-.51021-.4641-.88127-.4641l-.556591.0928-.139147.0929c-.231914.1392-.417444.2784-.510209.5105 0 0-.046383.4642-.046383.6034l.092766.1393C7.60677 89.0964 14.9352 97.6367 25.696 106.548c.8349.697 1.6698 1.346 2.5974 1.996 3.1076 1.764 6.3544 4.085 9.2765 6.916.6958.511 1.4379 1.021 2.2264 1.532.6957.464 1.3915.928 2.1336 1.392.603.279.603.743 1.0668.743 4.1744 1.392 7.885 3.249 10.8071 6.451.6958.511 1.4843.975 2.2728 1.439 2.3655 1.346 4.6382 2.646 6.7255 3.76l5.7514 2.831-6.6791-.139c-1.4378 0-2.9685-.046-4.4527-.139-9.5548-.604-17.9965-2.924-20.7794-3.667-.1855-.046-.3711-.093-.5102-.139-.2319 0-.2783.093-.2783.185-.0928.418.2319 1.207.9276 1.718 6.6791 4.827 14.054 7.519 22.542 8.169.9276.046 1.7161.093 2.4582.139 2.5047.093 5.7979.232 9.9723.418l6.4008.278c3.2004.139 6.2153.279 8.4416.464 0-.325.0464-.603.0928-.881-.6957-.233-1.3915-.557-2.0872-.836-1.8553-.696-3.6642-1.485-5.4268-2.321-.0464 0 0-.093 0-.093 1.6698.093 3.386.093 5.0557 0 .3247 0 .6958-.046 1.0668-.092-1.5306-.418-3.0612-1.114-4.3599-1.671-2.5511-1.068-4.9166-2.414-7.0966-4.131-.0464-.047 0-.093.0464-.093 3.3859 1.671 7.0038 2.367 10.7144 2.971 1.2523.185 3.4323.232 4.5455.835h.0464c.4174-.65.8812-1.346 1.3451-2.042.0463-.093.1855-.047.1391.046-1.1132 2.924-.3247 7.287 1.7162 9.794.5102.603 1.0668 1.021 1.7161 1.392.9741.325 1.9481.604 2.7366.789 2.8757.65 5.7051.557 8.6271.511 2.319-.047 4.685-.14 7.004.046.649-.139 1.299-.371 1.948-.603 3.386-1.393 3.989-8.541 3.571-11.604 0-.093.093-.139.14-.046.231.696.556 1.392.881 2.135h.046c5.102-1.021 10.715-2.646 15.399-4.874.093-.046.186.093.093.139-2.551 1.903-5.241 3.667-8.163 5.06-1.067.51-2.505 1.346-3.897 1.903.325 0 .65-.047.975-.047 2.551-.232 5.055-.093 7.421-1.299.046-.047.139.046.092.092-1.808 1.439-3.942 2.692-5.983 3.76-.696.371-1.484.789-2.273 1.068 2.551-.093 6.355-.279 10.483-.465l4.221-.185c4.313-.186 7.746-.372 10.297-.418.788 0 1.577-.046 2.458-.139 8.488-.65 15.863-3.296 22.542-8.169.742-.511 1.02-1.346.927-1.718 0 0-.092-.092-.463-.092h-.325c-3.989 1.16-11.967 3.156-20.779 3.713-1.485.093-2.969.139-4.453.139l-5.984-.325 5.103-2.367c7.003-3.76 16.094-9.283 23.052-13.832.788-.51 1.53-1.021 2.226-1.439 4.638-1.949 7.885-6.126 11.828-8.958.835-.696 1.623-1.392 2.412-2.042 9.462-8.1689 16.187-16.2451 22.82-27.0133l.185-.6034-.324-.2785zm-96.43 65.3522c-2.273 1.067-6.076.835-8.534.789-3.201-.046-5.5197.928-8.6737-.835-2.5975-1.486-3.9426-4.688-3.8034-7.798 0-.047.5566.835 1.2987 1.717 1.3451 1.253 2.7366 2.646 4.5919 2.646.4638.464.4638.928.9276.928 2.3189.928 4.1749.464 6.4469.696.65.047 1.299.047 1.948 0 1.299-.092 2.551-.371 3.525-1.067 5.195-2.228 5.288-5.152 5.288-4.92.139 2.367-.417 6.637-3.015 7.844z" fill="#fff"/></svg>
            h1.name.text-center.relative.z-10.text-white.text-3xl
                | Hello, I am #[b.text-orange Patrick Gomes] #[p.block a creative] #[b.name_uxdev.text-4xl.flex.flex-row.items-center.justify-center UX Developer]
            //- <svg class="main-wave absolute pin-b pin-l h-full w-full z-10" fill="none" xmlns="http://www.w3.org/2000/svg" height="1920" width="1080" viewBox="0 0 1100 800" preserveAspectRatio="xMidYMid slice"><path d="M -88.6,95.54 C -90.38,166.1 -88.23,236.7 -88.68,307.4 L -86.19,890 C 229.7,890.2 939.8,892.4 939.8,892.4 855.2,767 831,639.4 721.4,519.4 634.7,424.5 526.4,360.9 428.8,281.8 332.7,204 251.6,102.3 140.1,48.9 70.75,15.73 -24.82,24.2 -85.28,0.03 Z" pathdata:id="M -88.6,95.54 C -90.38,166.1 -88.23,236.7 -88.68,307.4 L -86.19,890 C 229.7,890.2 939.8,892.4 939.8,892.4 906.9,734.7 779.3,676 721.4,519.4 676.8,398.8 566.5,307.1 458.9,236.6 355.2,168.7 220.3,165.7 107.8,113.5 40.05,82.12 -24.82,24.2 -85.28,0.03 Z" fill="#fff" /></svg>
            button(class="relative z-10 hover:bg-blue hover:border-transparent hover:text-white border-blue bg-transparent font-semibold border text-blue text-lg my-4 py-2 px-5") LET'S TALK
            p.relative.z-10.text-orange Online CV
            ul.networks.flex.absolute.z-20
                li.medium
                    a(href="https://medium.com/@patrickgomes" target="_blank").block
                        <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M30 0H0v30h30V0z" fill="#12100E"/><path d="M7.68216 10.0332c.02504-.24741-.06931-.49194-.25404-.65845l-1.88178-2.2669v-.33862h5.84296l4.5162 9.90477 3.9706-9.90477h5.57v.33862l-1.6089 1.54262c-.1387.10573-.2075.27951-.1787.4515V20.4365c-.0288.172.04.3457.1787.4515l1.5713 1.5426v.3386H17.505v-.3386l1.6278-1.5802c.1599-.16.1599-.207.1599-.4515v-9.1617l-4.5256 11.4944h-.6116L8.88649 11.2372v7.7037c-.04393.3239.06364.65.29168.8842l2.11703 2.5679v.3386H5.2923v-.3386l2.117-2.5679c.22638-.2346.32767-.5629.27286-.8842v-8.9077z" fill="#fff"/></g><defs><clipPath id="clip0"><path fill="#fff" transform="matrix(-1 0 0 1 30 0)" d="M0 0h30v30H0z"/></clipPath></defs></svg>
                //- li.behance
                //-     a(href="http://").block
                //-         <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M13.7655 7.5744c.5663.77819.8494 1.70639.8494 2.7921 0 1.1157-.2831 2.0158-.8569 2.6946-.3225.3769-.7932.7257-1.4157 1.0388.945.3413 1.6576.8795 2.1433 1.6145.48.7351.7219 1.6295.7219 2.6796 0 1.0839-.2757 2.0571-.8269 2.9159-.3488.5682-.7876 1.0501-1.3127 1.4382-.5906.4463-1.2882.752-2.0945.9189-.8063.165-1.67826.2456-2.61959.2456H0V5.62424h8.95948c2.26142.03375 3.86092.68255 4.80602 1.95016zM3.69593 8.80075v4.03535H8.2038c.80256 0 1.45699-.1519 1.9614-.4538.5007-.3019.7538-.8382.7538-1.6051 0-.85511-.3319-1.41578-.99569-1.69143-.57379-.18939-1.3051-.28502-2.19205-.28502H3.69593zm0 7.06185v4.8773h4.50224c.80444 0 1.43262-.1069 1.87893-.3226.8138-.4013 1.2188-1.1588 1.2188-2.2839 0-.9545-.3919-1.607-1.1794-1.9633-.44258-.1969-1.06138-.3019-1.85645-.3075H3.69593zm22.71937-5.1979c.9582.4219 1.7458 1.0894 2.3664 2.0007.5663.8045.9301 1.7364 1.0951 2.7959.0975.6188.135 1.517.12 2.6852h-9.9889c.06 1.3557.5325 2.3083 1.4364 2.8521.5475.3394 1.2038.5101 1.9782.5101.8139 0 1.4777-.2063 1.9877-.6188.2813-.2251.5269-.5345.7388-.9301h3.6603c-.0975.8007-.5419 1.6164-1.3276 2.4452-1.2282 1.3126-2.9477 1.9708-5.1585 1.9708-1.8264 0-3.4353-.5532-4.8286-1.6633-1.3988-1.1082-2.0945-2.914-2.0945-5.4136 0-2.3439.63-4.1422 1.8883-5.3929 1.262-1.247 2.8933-1.8752 4.9016-1.8752 1.1964-.0018 2.2708.2101 3.2253.6339zm-5.3611 3.0546c-.5063.5156-.825 1.2132-.9563 2.0926h6.1786c-.0656-.9394-.3863-1.6501-.9544-2.1395-.5757-.4857-1.2826-.7276-2.1283-.7276-.917.0019-1.6333.2607-2.1396.7745zm-1.8826-4.96543h7.945V6.47743h-7.945v2.27644z" fill="#1976D2"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h30v30H0z"/></clipPath></defs></svg>
                li.gitlab
                    a(href="https://gitlab.com/hybear" target="_blank").block
                        <svg width="30" height="30" class="tanuki-logo" viewBox="0 0 36 36">
                        <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                        <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                        <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                        <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                        <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                        <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                        <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
                        </svg>
                li.instagram
                    a(href="https://www.instagram.com/patrick_casttro/" target="_blank").block
                        <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.625 0H9.375C4.19813 0 0 4.19813 0 9.375v11.25C0 25.8019 4.19813 30 9.375 30h11.25C25.8019 30 30 25.8019 30 20.625V9.375C30 4.19813 25.8019 0 20.625 0zm6.5625 20.625c0 3.6187-2.9438 6.5625-6.5625 6.5625H9.375c-3.61875 0-6.5625-2.9438-6.5625-6.5625V9.375c0-3.61875 2.94375-6.5625 6.5625-6.5625h11.25c3.6187 0 6.5625 2.94375 6.5625 6.5625v11.25z" fill="url(#paint0_linear)"/><path d="M15 7.5c-4.1419 0-7.5 3.3581-7.5 7.5s3.3581 7.5 7.5 7.5 7.5-3.3581 7.5-7.5-3.3581-7.5-7.5-7.5zm0 12.1875c-2.5838 0-4.6875-2.1038-4.6875-4.6875 0-2.5856 2.1037-4.6875 4.6875-4.6875 2.5837 0 4.6875 2.1019 4.6875 4.6875 0 2.5837-2.1038 4.6875-4.6875 4.6875z" fill="url(#paint1_linear)"/><path d="M23.0625 7.93689c.5519 0 .9994-.44744.9994-.99938 0-.55193-.4475-.99937-.9994-.99937-.552 0-.9994.44744-.9994.99937 0 .55194.4474.99938.9994.99938z" fill="url(#paint2_linear)"/><defs><linearGradient id="paint0_linear" x1="2.74622" y1="27.254" x2="27.2538" y2="2.74603" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC107"/><stop offset=".507" stop-color="#F44336"/><stop offset=".99" stop-color="#9C27B0"/></linearGradient><linearGradient id="paint1_linear" x1="9.69684" y1="20.3032" x2="20.3032" y2="9.69684" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC107"/><stop offset=".507" stop-color="#F44336"/><stop offset=".99" stop-color="#9C27B0"/></linearGradient><linearGradient id="paint2_linear" x1="22.3559" y1="7.64429" x2="23.7691" y2="6.23092" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC107"/><stop offset=".507" stop-color="#F44336"/><stop offset=".99" stop-color="#9C27B0"/></linearGradient></defs></svg>
                li.linkedin
                    a(href="https://www.linkedin.com/in/pgocastro/" target="_blank").block
                        <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.70875 9.375H0V30h6.70875V9.375z" fill="#1976D2"/><path d="M24.9825 9.61688c-.0712-.0225-.1387-.04688-.2137-.06751-.09-.02062-.1801-.03749-.2719-.05249-.3563-.07125-.7463-.12188-1.2038-.12188-3.9112 0-6.3919 2.8444-7.2093 3.9431V9.375H9.375V30h6.7088V18.75s5.07-7.0612 7.2093-1.875V30H30V16.0819c0-3.1163-2.1356-5.7131-5.0175-6.46502z" fill="#1976D2"/><path d="M3.28125 6.5625c1.81218 0 3.28125-1.46907 3.28125-3.28125S5.09343 0 3.28125 0 0 1.46907 0 3.28125 1.46907 6.5625 3.28125 6.5625z" fill="#1976D2"/></svg>
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src="js/main-raw-min.js")

        #box.w-full.h-full.absolute.pin-t.pin-l

        //- #container.hfull.w-full