.brand{
    // svg{
    //     transform: translate(-50%, -50%);
    // }
    .picture{
        border-color: #214762;
        img{
            width: 110%;
        }
    }
    .ribbon{
        // width: 20em;
        // @include d(s){
        //     width: 15em;
        //     margin-top: -3em;
        // }
        // @include d(xs){
        //     width: 15em;
        //     margin-top: -3em;
        // }
    }
    .name{
        @include d(xs){
            font-size: 1.7em;
        }
        .name_uxdev{
            &::after, &::before{
                content: '';
                display: inline-flex;
                height: 3px;
                width: 30px;
                background: $orange;
                margin: 0 10px;
            }
        }
    }
}
main{
    background: url("../img/aurora-bg2.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    @include d(xs){
        margin-bottom: -4em;
    }
}
.bearfox{
    bottom: 20vw;
    @apply flex;
    @include d(s){
        bottom: 0;
        display: none;
    }
    @include d(xs){
        bottom: 0;
        display: none;
    }
    .bear{
        margin-right: -10%;
        @include d(mb){
            transform: scale(.7);
        }
        @include d(m){
            transform: scale(.7);
        }
        @include d(s){
            margin-right: -40%;
            transform: scale(.7);
            margin-bottom: 10%;
        }
        @include d(xs){
            margin-right: -50%;
            transform: scale(.7);
            margin-bottom: 10%;
        }
    }
    .fox{
        margin-left: 10%;
        @include d(mb){
            transform: scale(.7);
        }
        @include d(m){
            transform: scale(.7);
        }
        @include d(s){
            transform: scale(.7);
            margin-bottom: 10%;
            margin-left: 0%;
        }
        @include d(xs){
            transform: scale(.7);
            margin-bottom: 10%;
            margin-left: 0%;
            width: 20em;
        }
    }
}
.storytelling{
    @apply flex;
    @include d(xs){
        display: none;
    }
}
.ground{
    @include d(s){
        width: 100%;
        height: 50vh;
    }
    @include d(xs){
        width: 100%;
        height: 50vh;
    }
}
.storytelling{
    bottom: 10%;
}
.light{
    height: 70vh;
    z-index: -1;
    background: linear-gradient(180deg, rgba(12, 21, 45, 0) 0%, rgb(9, 70, 139) 50.91%, rgb(0, 110, 173) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091124', endColorstr='#0f1932', GradientType=0 );
}
.networks{
    bottom: 1em;
    right: 1em;
    li{
        cursor: pointer;
        padding: 5px;
    }
}
.feed {
    a{
    writing-mode: vertical-lr;
    text-orientation: upright;
    }
    &:hover{
        a{
            letter-spacing: .5em;
        }
    }
}
.font-visby{
    font-family: "Visby";
}
.font-north{
    font-family: "northern_highway_roughregular";
}
.about{
    min-height: 500px;
    .curve-wave{
        width: 100%;
        height: 20vw;
        bottom: -10vw;
    }
    @include d(s){
        margin-top: -1px;
    }
    @include d(xs){
        margin-top: -1px;
    }

    h2{
        width: 95%;
    }
    
    .roles{
        h2{
            @include north(3em, $blue-l, normal, normal);
            width: 100%;
        }
        .divider{
            height: 300px;
            width: 1px;
            z-index: 20;
            margin: 0 20px;
            display: flex;
            @include d(s){
                height: 1px;
                width: 300px;
                margin: 20px auto;
            }
            @include d(xs){
                height: 1px;
                width: 300px;
                margin: 20px auto;
            }
        }
        @include d(l){
            .development, .design{
                h2{
                    @apply -mt-6;
                }
            }
        }
        @include d(mb){
            .development, .design{
                h2{
                    @apply -mt-6;
                }
            }
        }
        @include d(s){
            flex-flow: column;
            .development, .design{
                width: 100%;
                padding: 10px;
            }
        }
        @include d(xs){
            flex-flow: column;
            .development, .design{
                width: 100%;
                padding: 10px;
            }
        }
    }
}
.loading{
    transition: all .2s;
}
.pawload{
    svg{
        &.circle-loader{
            width: 200px;
            height: 200px;
            circle {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset 1s linear;
                stroke: $blue;
                stroke-width: .3em;
            }
        }
        #bar {
            stroke: $orange;
        }
        &.bear-paw{
            transform: scale(.7) rotate(-25deg);
            path{
                transition: all .5s;
                fill: $blue;
            }
        }
    }
}
.ground-footer{
    margin-bottom: -8vw;
}
#stars{
    z-index: -1;
}
.aurora{
    transform: translate(-50%, -50%);
    top: 33.5%;
    left: 50%;
    opacity: .95;
    @include d(m){
        transform: translate(-50%, -50%) scale(.8);
    }
    @include d(s){
        transform: translate(-50%, -50%) scale(.7);
    }
    @include d(xs){
        transform: translate(-50%, -50%) scale(.5);
    }
}
.house{
    bottom: 18vw;
    right: 43vw;
    @include d(mb){
        bottom: 18vw;
    }
    @include d(m){
        bottom: 17vw;
    }
    @include d(s){
        bottom: 17vw;
    }
    @include d(xs){
        bottom: 15vw;
    }
}
.three-col-left{
    bottom: 5vw;
    left: 20vw;
    @include d(mb){
        bottom: 0vw;
    }
    @include d(m){
        bottom: -10vw;
    }
    @include d(s){
        bottom: -10vw;
    }
    @include d(xs){
        display: none;
    }
    & svg:nth-child(2){
        margin-bottom: 10%;
    }
    & svg:nth-child(3){
        margin-bottom: 20%;
        margin-left: -15%;
    }
    & svg:nth-child(4){
        margin-bottom: 20%;
        margin-left: 0%;
    }
}
.three-col-right{
    bottom: 17vw;
    right: 10%;
    @include d(mb){
        bottom: 15vw;
    }
    @include d(m){
        bottom: 15vw;
    }
    @include d(s){
        bottom: 10vw;
    }
    @include d(xs){
        bottom: 0vw;
        right: 0;
    }
}
.quote{
    bottom: 5vw;
    right: 10%;
    font-size: 1.5em;
    @include d(xs){
        display: none;
    }
}
footer{
    height: 100vh;
    @include d(mb){
        height: 50vw;
    }
    @include d(m){
        height: 60vw;
    }
    @include d(s){
        height: 60vw;
    }
    @include d(xs){
        height: 60vw;
    }
}