$blue-d: #091124;
$blue: #0f1932;
$blue-l: #008BDD;
$orange: #E27945;

@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-ThinOblique.woff2") format("woff2"); font-style:italic; font-weight:100;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-Thin.woff2") format("woff2"); font-style:normal; font-weight:100;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-LightOblique.woff2") format("woff2"); font-style:italic; font-weight:200;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-Light.woff2") format("woff2"); font-style:normal; font-weight:200;
}    
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-RegularOblique.woff2") format("woff2"); font-style:italic; font-weight:300;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-Regular.woff2") format("woff2"); font-style:normal; font-weight:300;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-MediumOblique.woff2") format("woff2"); font-style:italic; font-weight:500;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-Medium.woff2") format("woff2"); font-style:normal; font-weight:500;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-BoldOblique.woff2") format("woff2"); font-style:italic; font-weight:600;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-Bold.woff2") format("woff2"); font-style:normal; font-weight:600;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-HeavyOblique.woff2") format("woff2");font-style:italic; font-weight:700;
}
@font-face{
  font-family: Visby;
  src: url("../../../res/Visby/VisbySlabCF-ExtraBold.woff2") format("woff2"); font-style:normal; font-weight:900;
}
@font-face{
  font-family: 'northern_highway_roughregular';
  src: url('../../../res/Northern/NorthernHighwayRough.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@mixin sans($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: "Visby";
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}
@mixin north($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: "northern_highway_roughregular";
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin animation($nome: false, $duracao: false, $count: false, $timing: false){
  @if $nome {-webkit-animation-name: $nome;}
  @if $duracao {-webkit-animation-duration: $duracao;}
  @if $count {-webkit-animation-iteration-count: $count;}
  @if $timing {-webkit-animation-timing-function: $timing;}
  @if $nome {-moz-animation-name: $nome;}
  @if $duracao {-moz-animation-duration: $duracao;}
  @if $count {-moz-animation-iteration-count: $count;}
  @if $timing {-moz-animation-timing-function: $timing;}
  @if $nome {-ms-animation-name: $nome;}
  @if $duracao {-ms-animation-duration: $duracao;}
  @if $count {-ms-animation-iteration-count: $count;}
  @if $timing {-ms-animation-timing-function: $timing;}
  
  animation-name: $nome;
  animation-duration: $duracao;
  animation-iteration-count: $count;
  animation-timing-function: $timing;
}
//GRID 
$l-device: 1199px;
$m-b-device: 991px;
$m-device: 767px;
$s-device: 575px;
$mobile: 400px;
// Mixin de media-queries
@mixin d($size) {
  @if $size == l {
    @media only screen and (min-width: $l-device) {
      @content;
    }
  }
  @else if $size == mb {
    @media only screen and (min-width: $m-b-device) and (max-width: $l-device - 1) {
      @content;
    }
  }
  @else if $size == m {
    @media only screen and (min-width: $m-device) and (max-width: $m-b-device - 1) {
      @content;
    }
  }
  @else if $size == s {
    @media only screen and (min-width: $s-device) and (max-width: $m-device - 1) {
      @content;
    }
  }
  @else if $size == xs {
    @media only screen and (max-width: $s-device) {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}
*{
  transition: .2s;
}
a{
  @apply no-underline text-white
}
body{
  background: rgb(9, 17, 36);
  background: -moz-linear-gradient(top, rgb(9, 17, 36) 0%, rgb(15, 25, 50) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(9, 17, 36)), color-stop(100%, rgb(15, 25, 50)));
  background: -webkit-linear-gradient(top, rgb(9, 17, 36) 0%, rgb(15, 25, 50) 100%);
  background: -o-linear-gradient(top, rgb(9, 17, 36) 0%, rgb(15, 25, 50) 100%);
  background: -ms-linear-gradient(top, rgb(9, 17, 36) 0%, rgb(15, 25, 50) 100%);
  background: linear-gradient(to bottom, rgb(9, 17, 36) 0%, rgb(15, 25, 50) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091124', endColorstr='#0f1932', GradientType=0 );
}
.border-orange{
  border-color: $orange !important;
}
.bg-orange{
  background-color: $orange;
}
.text-orange{
  color: $orange !important;
}
.bg-blue{
  background-color: $blue-l;
}
.text-blue{
  color: $blue-l;
}
.text-blue-darkest{
  color: $blue !important;
}